body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.App-header nav {
  display: block;
  width: 100%;
}
.nav-button {
  font-size: 1rem;
  margin: 12px 8px 0px;
  height: 30px;
  width: 35%;
  max-width: 200px;
  border-style: none;
  color: #fff;
  background-color:  #3d495f
}

.disabled {
  color: #bbb;
}

button.inactive {
  background-color:  #3d495f;
}

.nav-button:hover,
button.inactive:hover {
  background-color:  #435474
}
.nav-button:active,
button.inactive:active {
  background-color:  #2b3e61
}
.nav-button.active {
  background-color:  #4d7ce0
}

.floor-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 8px;
}

.floor-item label {
  text-align: left;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #eee;
}
.clickable:active {
  background-color: #fff;
}

.room-item {
  flex-grow: 0.1;
  text-align: left;
  margin: 8px;
  padding: 12px;
  border: 2px solid #ddd;
  background-color: #fff;
}

.express {
  width: max-content;
  padding: 8px;
  border: 2px solid #ddd;

  margin: 16px auto;
  text-align: center;
}

.express .title {
  margin: 0px 0px 12px;
}

.label {
  color: #444;
  font-size: 0.9rem;
}

.text-input {
  margin: 4px auto;
  padding: 4px;
}

.express-button {
  text-align: center;
}

.express-button button {
  font-size: 1rem;
  margin: 12px auto 0px;
  padding: 4px;
  height: 30px;
  width: 100%;
  max-width: 200px;
  border-style: none;
  color: #fff;
  background-color:  #4d7ce0;
}


.title{
  font-style: italic;
  margin: 0px;
  font-size: 1.2rem;
}

.return input{
  padding: 4px;
  vertical-align: top;
  margin: 12px 12px 0px;
}

.balance {
  min-width: 200px;
}

.balance .content {
  font-size: 1rem;
  color: #000
}

.balance .sub{
  font-style: italic;
}

.balance label{
  display: block;
  margin: 0px 0px 2px -6px;
}

.balance label.centered {
  text-align: center;
  margin: 2px 0px 0px 0px;
}

.balance .title {
  margin-bottom: 6px;
}

.balance button {
  width: 100%;
  max-width: 200px;
  margin: 12px auto 0px;
}

button {
  vertical-align: center;
  font-size: 1rem;
  margin: 12px 12px 0px;
  padding: 4px 16px;
  height: 30px;
  border-style: none;
  color: #fff;
  background-color:  #4d7ce0;
}

button:hover {
  background-color:  #648feb;
}

button:active {
  background-color:  #2f62cf;
}

.modal-background {
  z-index: 1;
  background-color: #0004;
  display: block;
  position: fixed;
  left: 0; top: 0;
  width: 100%; height: 100%;
  text-align: center;
}

.modal-content {
  width: max-content;
  display: block;
  position: relative;
  background-color: #fff;
  text-align: center;
  margin: 15% auto;
  border: 2px solid #ddd;
  padding: 16px 32px;
}